.header {
    background-color: #009dff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
}

.body-content {
    padding: 5px;
    text-align: center;
    font-size: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=text]:focus {
    border: 3px solid #555;
    border-radius: 10px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #009dff;
    border: none;
    font-size: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }