<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="\..\static\site.css" />
        <title>Tweet Guessing Game</title>
    </head>
    <body style="background-color:#bae5ff;">
        <h1 class="header"><b>Tweet Guessing Game</b></h1><br>
        <div class="body-content">
            {% block content %}
            <p>
                Hello! Welcome to the Tweet Guessing Game. <br>
                Given a tweet by one of two individuals, guess who wrote the tweet!
            </p>
            <form action="/" method="POST">
                <label for="username1">Twitter Username 1: @</label>
                <input type="text" id="username1" name="username1" placeholder="elonmusk" required><br><br>
                <label for="username2">Twitter Username 2: @</label>
                <input type="text" id="username2" name="username2" placeholder="kanyewest" required><br><br>
                <p style="color:red">{{ error }}</p>
                <input type="submit" value="Submit">
            </form>
            {% endblock %}
            <hr/>
            <footer>
                <p>© Sarah Zhang 2020</p>
            </footer>
        </div>
    </body>
</html>